HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IntelliJ IDEA files
.idea/
*.iml
*.iws
*.ipr

# Eclipse files
.project
.classpath
.settings/

# VS Code files
.vscode/

# Logs
logs/
*.log
*.tmp

# Compiled class files
*.class

# JAR, WAR files
*.jar
*.war

# OS-specific files
.DS_Store
Thumbs.db


# Maven Wrapper files
.mvn/
mvnw
mvnw.cmd

# Others
*.bak
*.swp